<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
  <div id="index">
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>{{name}}</p>
    <p>{{name}}</p>
    <button @click="click">Click Me</button>
    <button @click="clickOther">Click Me</button>
  </div>


  <script src="/js-built/index.js"></script>
  </body>

</html>
