<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/plugins/kkpager_blue.css">
    <link rel="stylesheet" href="css/vol.css">
</head>
<body>

<input id="cur" hidden value=<%=cur%>>
<div id="kkpager" class="paginator" style="margin-top: 100px">

</div>

<script src="js/plugins/jquery.min.js"></script>
<script src="js/plugins/kkpager.js"></script>
<script>
    $(function () {
        var s = $('#cur').val();
        console.log(s);
        kkpager.generPageHtml({
            pno :s,
            //总页码
            total :100,
            //总数据条数
            totalRecords : 1000,
            //链接前部
            hrefFormer : '',
            //链接尾部
            hrefLatter : '',
            //链接算法
            getLink : function(n){
               if(n == 1){
                    return this.hrefFormer + this.hrefLatter;
                }
                return this.hrefFormer  + n + this.hrefLatter;
            }

        });
    })
</script>
</body>
</html>