<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>单曲推荐-落网</title>
    <link rel="stylesheet" href="css/plugins/kkpager_blue.css">
    <link rel="stylesheet" href="css/musician.css">

</head>
<body>
<div class="header">
    <div class="header-ct">
        <a href="http://www.luoo.net" class="logo">
            <span class="icon-logo"></span>落网
        </a>
        <div class="nav">
            <ul class="clearfix">
                <li><a href="http://www.luoo.net/music/">期刊</a></li>
                <li><a href="http://www.luoo.net/musician/">单曲</a></li>
                <li><a href="http://www.luoo.net/essays/">专栏</a></li>
                <li><a href="http://www.luoo.net/event/">活动</a></li>
                <li><a href="http://www.luoo.net/app/">APP</a></li>
            </ul>

        </div>

        <div class="head-search">
            <form class="search-form" action="http://www.luoo.net/search/" id="headSearchForm">
                <input type="text" class="search-input" name="q" autocomplete="off">
                <button class="search-btn" type="submit">
                    <span class="icon-search"></span>
                </button>
            </form>
        </div>			<!-- logged-in-wrapper -->
        <div class="logged-in-wrapper" id="loggedInWrapper">

        </div>
        <!-- logged-in-wrapper end-->

        <div class="logged-out-wrapper" id="loggedOutWrapper" data-remote="http://www.luoo.net/login/dialog" data-tipid="headLoginDialog" data-width="235" data-show="mouseenter" data-adjusty="-12">
            <a href="javascript:;" rel="nofollow" class="ln-top-login"> 注册/登录 </a>

        </div>
        <!-- logged-out-wrapper -->
    </div>
</div>
<!--/// header end -->
<!-- container start -->
<div class="container" id="luooPlayerPlaylist">

    <div class="musician-banner clearfix">
        <img src="http://img-cdn.luoo.net/pics/performers/8351/m_58b3c409c3c5e.jpg?imageView2/1/w/750/h/530" alt="春天快来跳支舞" class="cover">
        <div class="meta">
            <a href="javascript:;" class="title" id="track17889" data-id="17889">
                春天快来跳支舞
                <span class="icon-play"></span>
                <span class="icon-pause"></span>
            </a>
            <p class="performer">江生</p>
            <p class="remark" id="remark17889"><span class="quote-before"></span> <span>伴着冰雪初融的前奏，来自海边城市厦门的独立民谣歌手江生，爱上了一个叫做“春天”的女孩，她的舞姿曼妙，带着春意的盎然。现在，打开冬眠的心，蹭着春光的温暖，“在湖畔和树下”来一场浪漫的约会，可好？也许这就是《春天快来跳支舞》的魅力吧。</span> <span class="quote-after"></span></p>
            <div class="lyric" id="lyric17889"></div>
            <p class="date">推荐人： LUO&#12539;2017-02-27</p>
            <div class="sns">
                <a href="javascript:;" rel="nofollow" class="icon-share btn-action-share"  data-app="musician" data-id="470" data-text="推荐江生的歌曲春天快来跳支舞（分享自@落网）" data-img="http://img-cdn.luoo.net/pics/albums/11383/cover.jpg?imageView2/1/w/580/h/580">
                </a>
                <a href="javascript:;" rel="nofollow" id="btnLike17889" class="btn-action-like icon-fav" data-id="17889" data-type="single" data-cback="musician_like_callback" data-langliked="取消收藏" data-langlike="收藏">
                </a>
                <a href="javascript:;" rel="nofollow" class="icon-info" data-sid="17889"></a>
            </div>
        </div>
    </div>
    <div class="clearfix">
        <!-- article start-->
        <div class="article article-sm">
            <!-- musician-list -->
            <div class="musician-list">

                <div class="item">
                    <div class="cover-wrapper">
                        <img class="cover rounded" src="http://img-cdn.luoo.net/pics/performers/8343/m_58afd6b17c533.jpg?imageView2/1/w/350/h/250" alt="红毛树">
                    </div>
                    <div class="musician-wrapper">
                        <a href="javascript:;" title="红毛树" class="title" id="track17874" data-id="17874">
                            红毛树
                            <span class="icon-play"></span>
                            <span class="icon-pause"></span>
                        </a>
                        <p class="performer">KAWA</p>
                        <p class="remark" id="remark17874">《红毛树》是以拉木鼓的佤族调子为灵感而创作的作品，曲中自由摇摆又充满力量的“嚯嘿拉咂嘿”是拉木鼓的口号，如同纤夫的号子，背靠着大山和长河生活的人们，不约而同的选择用声音集聚力量。来自云南边陲西盟的KAWA乐队，将西方雷鬼音乐的律动与DUB略带迷幻的电子音色，融入西南民间音乐（特别是佤族）古老的旋律，如果你闭上眼仔细聆听，就能真切的感受到在现代雷鬼的律动下，古老奔放的佤族从他们始终敬畏的大自然中汲取到的亘古不变的活力。</p>
                        <div class="lyric" id="lyric17874"></div>
                        <p class="date">推荐人： LUO&#12539;2017-02-24</p>
                        <div class="sns">
                            <a href="javascript:;" rel="nofollow" class="icon-share btn-action-share"  data-app="musician" data-id="469" data-text="推荐KAWA的歌曲红毛树（分享自@落网）" data-img="http://img-cdn.luoo.net/pics/albums/11369/cover.jpg?imageView2/1/w/580/h/580">
                            </a>
                            <a href="javascript:;" rel="nofollow" id="btnLike17874" class="btn-action-like icon-fav" data-id="17874" data-type="single" data-cback="musician_like_callback" data-langliked="取消收藏" data-langlike="收藏">
                            </a>
                            <a href="javascript:;" rel="nofollow" class="icon-info" data-sid="17874"></a>
                        </div>

                    </div>
                </div>

                <div class="item">
                    <div class="cover-wrapper">
                        <img class="cover rounded" src="http://img-cdn.luoo.net/pics/performers/8328/m_58acf9994fb7b.jpg?imageView2/1/w/350/h/250" alt="雾霾时期的爱情">
                    </div>
                    <div class="musician-wrapper">
                        <a href="javascript:;" title="雾霾时期的爱情" class="title" id="track17841" data-id="17841">
                            雾霾时期的爱情
                            <span class="icon-play"></span>
                            <span class="icon-pause"></span>
                        </a>
                        <p class="performer">老板娘与酒客乐队</p>
                        <p class="remark" id="remark17841">在小说《霍乱时期的爱情》里，主角是一对错过了半个世纪的恋人。作家马尔克斯通过轻松、幽默的手法，写出了当时拉美社会一些严肃、沉重的话题。而在这首从标题到歌词都在“致敬”马尔克斯的歌里，主角成了当下雾霾围城里的你我。欢快的ska节奏，俏皮的合成器旋律，“看不见我”的自嘲，看似轻松地诉说着人生黄金年华的青春，在雾霾面前黯然失色的无奈。没关系，只要我们还在一起，唱歌、跳舞、生活、恋爱就好，明天的日子照样过吧！</p>
                        <div class="lyric" id="lyric17841"></div>
                        <p class="date">推荐人： LUO&#12539;2017-02-22</p>
                        <div class="sns">
                            <a href="javascript:;" rel="nofollow" class="icon-share btn-action-share"  data-app="musician" data-id="468" data-text="推荐老板娘与酒客乐队的歌曲雾霾时期的爱情（分享自@落网）" data-img="http://img-cdn.luoo.net/pics/albums/11346/cover.jpg?imageView2/1/w/580/h/580">
                            </a>
                            <a href="javascript:;" rel="nofollow" id="btnLike17841" class="btn-action-like icon-fav" data-id="17841" data-type="single" data-cback="musician_like_callback" data-langliked="取消收藏" data-langlike="收藏">
                            </a>
                            <a href="javascript:;" rel="nofollow" class="icon-info" data-sid="17841"></a>
                        </div>

                    </div>
                </div>

                <div class="item">
                    <div class="cover-wrapper">
                        <img class="cover rounded" src="http://img-cdn.luoo.net/pics/performers/7461/m_58aa56badaf86.jpg?imageView2/1/w/350/h/250" alt="伴">
                    </div>
                    <div class="musician-wrapper">
                        <a href="javascript:;" title="伴" class="title" id="track17838" data-id="17838">
                            伴
                            <span class="icon-play"></span>
                            <span class="icon-pause"></span>
                        </a>
                        <p class="performer">唐宁</p>
                        <p class="remark" id="remark17838">一觉醒来春意浓，不知不觉已踏上2017的新征程。情人节刚过去，你是一个人看电影到曲终人散吗？抑或，有一个懂你的人，与你相谈甚欢，在这平凡的日子里，默默等待你？“若是注定发生，TA就一定会来，等待……爱情一直是不灭的执念，我会好好的。”唱作人唐宁推出新单曲《伴》，简单的吉他和弦，温暖的声线，唱出与你内心的对话。</p>
                        <div class="lyric" id="lyric17838"></div>
                        <p class="date">推荐人： LUO&#12539;2017-02-20</p>
                        <div class="sns">
                            <a href="javascript:;" rel="nofollow" class="icon-share btn-action-share"  data-app="musician" data-id="467" data-text="推荐唐宁的歌曲伴（分享自@落网）" data-img="http://img-cdn.luoo.net/pics/albums/11343/cover.jpg?imageView2/1/w/580/h/580">
                            </a>
                            <a href="javascript:;" rel="nofollow" id="btnLike17838" class="btn-action-like icon-fav" data-id="17838" data-type="single" data-cback="musician_like_callback" data-langliked="取消收藏" data-langlike="收藏">
                            </a>
                            <a href="javascript:;" rel="nofollow" class="icon-info" data-sid="17838"></a>
                        </div>

                    </div>
                </div>

                <div class="item">
                    <div class="cover-wrapper">
                        <img class="cover rounded" src="http://img-cdn.luoo.net/pics/performers/7224/m_58a3c8b87a5ad.jpg?imageView2/1/w/350/h/250" alt="Lane">
                    </div>
                    <div class="musician-wrapper">
                        <a href="javascript:;" title="Lane" class="title" id="track17803" data-id="17803">
                            Lane
                            <span class="icon-play"></span>
                            <span class="icon-pause"></span>
                        </a>
                        <p class="performer">City Flanker</p>
                        <p class="remark" id="remark17803">My Bloody Valentine的吉他手Kevin曾在一部纪录片里提到当噪音墙声量非常大时，人脑频率会改变7hz左右，然后就会在噪音墙中听到无数的声音。它们是在噪音墙中产生的，也可以说它们孕育了噪音墙，当然也可能是幻听幻觉。当City Flanker的成员在排练房用非常大的音量演奏了一个小时左右音墙之后，他们开始听到很多旋律，而后记录下了一些听上去比较特别的旋律，而后拾回残存的记忆，才有了这首歌。</p>
                        <div class="lyric" id="lyric17803"></div>
                        <p class="date">推荐人： LUO&#12539;2017-02-15</p>
                        <div class="sns">
                            <a href="javascript:;" rel="nofollow" class="icon-share btn-action-share"  data-app="musician" data-id="466" data-text="推荐City Flanker的歌曲Lane（分享自@落网）" data-img="http://img-cdn.luoo.net/pics/albums/11312/cover.jpg?imageView2/1/w/580/h/580">
                            </a>
                            <a href="javascript:;" rel="nofollow" id="btnLike17803" class="btn-action-like icon-fav" data-id="17803" data-type="single" data-cback="musician_like_callback" data-langliked="取消收藏" data-langlike="收藏">
                            </a>
                            <a href="javascript:;" rel="nofollow" class="icon-info" data-sid="17803"></a>
                        </div>

                    </div>
                </div>

                <div class="item">
                    <div class="cover-wrapper">
                        <img class="cover rounded" src="http://img-cdn.luoo.net/pics/performers/8287/m_58a11d89c5f23.jpg?imageView2/1/w/350/h/250" alt="bɑik">
                    </div>
                    <div class="musician-wrapper">
                        <a href="javascript:;" title="bɑik" class="title" id="track17777" data-id="17777">
                            bɑik
                            <span class="icon-play"></span>
                            <span class="icon-pause"></span>
                        </a>
                        <p class="performer">洪启乐</p>
                        <p class="remark" id="remark17777">拥有多重身份的音乐人洪启乐将2014年底到2016年的创作集结出第一张电子乐专辑《Pixel³》。这位自称命里有底噪，身份复杂的人士一路从噪音辗转到电子音乐不知道会带来什么样的惊喜？作品里许多的噪点和Glitch效果让我想起春节时路边小女孩放的小烟花，美好但又寒冷。而他就是那个在远处记录下这些场景的旁观者。</p>
                        <div class="lyric" id="lyric17777"></div>
                        <p class="date">推荐人： LUO&#12539;2017-02-13</p>
                        <div class="sns">
                            <a href="javascript:;" rel="nofollow" class="icon-share btn-action-share"  data-app="musician" data-id="465" data-text="推荐洪启乐的歌曲bɑik（分享自@落网）" data-img="http://img-cdn.luoo.net/pics/albums/11289/cover.jpg?imageView2/1/w/580/h/580">
                            </a>
                            <a href="javascript:;" rel="nofollow" id="btnLike17777" class="btn-action-like icon-fav" data-id="17777" data-type="single" data-cback="musician_like_callback" data-langliked="取消收藏" data-langlike="收藏">
                            </a>
                            <a href="javascript:;" rel="nofollow" class="icon-info" data-sid="17777"></a>
                        </div>

                    </div>
                </div>

                <div class="item">
                    <div class="cover-wrapper">
                        <img class="cover rounded" src="http://img-cdn.luoo.net/pics/performers/5517/m_589d6dd3ef3b2.jpg?imageView2/1/w/350/h/250" alt="古风铃">
                    </div>
                    <div class="musician-wrapper">
                        <a href="javascript:;" title="古风铃" class="title" id="track17756" data-id="17756">
                            古风铃
                            <span class="icon-play"></span>
                            <span class="icon-pause"></span>
                        </a>
                        <p class="performer">小雨乐队</p>
                        <p class="remark" id="remark17756">南方女声旋律金属小雨乐队，2005年成立于广州。在古老而黑暗的音乐氛围中，小雨乐队用高亢的女声演绎着旋律与金属的交响，激情而华丽的交响式编曲，则营造出乐队大气磅礴的音乐和现场。《古风铃》是最新专辑《破墨山谷》里的曲目，不插电的版本中，乐队以木吉他、竹笛、钢琴、箱鼓、贝斯来演绎这首“民乐+旋律金属”的歌曲，展现出歌曲回归自然的另一个形态。2月25日，乐队将在深圳A8Live展开新专辑的首站巡演，与你相遇在躁动的舞台！</p>
                        <div class="lyric" id="lyric17756"></div>
                        <p class="date">推荐人： LUO&#12539;2017-02-10</p>
                        <div class="sns">
                            <a href="javascript:;" rel="nofollow" class="icon-share btn-action-share"  data-app="musician" data-id="464" data-text="推荐小雨乐队的歌曲古风铃（分享自@落网）" data-img="http://img-cdn.luoo.net/pics/albums/11272/cover.jpg?imageView2/1/w/580/h/580">
                            </a>
                            <a href="javascript:;" rel="nofollow" id="btnLike17756" class="btn-action-like icon-fav" data-id="17756" data-type="single" data-cback="musician_like_callback" data-langliked="取消收藏" data-langlike="收藏">
                            </a>
                            <a href="javascript:;" rel="nofollow" class="icon-info" data-sid="17756"></a>
                        </div>

                    </div>
                </div>
            </div>
            <!--/// musician-list end-->
            <div>
                <div id="luooPlayerContent"></div>
                <div class="jp-playlist" style="display:none;">
                    <ul>
                        <li></li>
                    </ul>
                </div>
            </div>
            <div id="kkpager" class="paginator"></div>
        </div>
        <!--/// article end-->

        <!-- aside start-->
        <div class="aside">

            <div class="widget">
                <div class="widget-head">
                    <span class="title">推荐单曲</span>
                </div>

                <div class="widget-ct pic-widget">

                    <div class="item">
                        <a href="http://www.luoo.net/musician/?mid=" class="cover-wrapper">
                            <img src="http://img-cdn.luoo.net/pics/performers/4097/m_561f642d37317.jpg?imageView2/1/w/350/h/250" alt="立场" class="essay-cover rounded">
                        </a>
                        <div class="info">
                            <a href="http://www.luoo.net/musician/?mid=" title="立场" class="title">立场</a>
                            <p class="description">这位太太</p>
                        </div>
                    </div>

                    <div class="item">
                        <a href="http://www.luoo.net/musician/?mid=" class="cover-wrapper">
                            <img src="http://img-cdn.luoo.net/pics/performers/6635/m_55c99b07a0a70.jpg?imageView2/1/w/350/h/250" alt="迷航" class="essay-cover rounded">
                        </a>
                        <div class="info">
                            <a href="http://www.luoo.net/musician/?mid=" title="迷航" class="title">迷航</a>
                            <p class="description">Glow Curve</p>
                        </div>
                    </div>

                    <div class="item">
                        <a href="http://www.luoo.net/musician/?mid=" class="cover-wrapper">
                            <img src="http://img-cdn.luoo.net/pics/performers/6060/m_55250010e5110.jpg?imageView2/1/w/350/h/250" alt="朋友之歌" class="essay-cover rounded">
                        </a>
                        <div class="info">
                            <a href="http://www.luoo.net/musician/?mid=" title="朋友之歌" class="title">朋友之歌</a>
                            <p class="description">雀斑</p>
                        </div>
                    </div>

                    <div class="item">
                        <a href="http://www.luoo.net/musician/?mid=" class="cover-wrapper">
                            <img src="http://img-cdn.luoo.net/pics/performers/5893/m_54c75a6291c60.jpg?imageView2/1/w/350/h/250" alt="菱花" class="essay-cover rounded">
                        </a>
                        <div class="info">
                            <a href="http://www.luoo.net/musician/?mid=" title="菱花" class="title">菱花</a>
                            <p class="description">兰亭乐团</p>
                        </div>
                    </div>

                    <div class="item">
                        <a href="http://www.luoo.net/musician/?mid=" class="cover-wrapper">
                            <img src="http://img-cdn.luoo.net/pics/performers/5847/m_54b0d8a7d14e6.jpg?imageView2/1/w/350/h/250" alt="思想起" class="essay-cover rounded">
                        </a>
                        <div class="info">
                            <a href="http://www.luoo.net/musician/?mid=" title="思想起" class="title">思想起</a>
                            <p class="description">刘于思</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!--/// aside end-->

    </div>
</div>
<div class="footer">
    <div class="foot-ct clearfix">

    </div>
</div>
<!--/// container end -->
<script src="js/plugins/jquery.min.js"></script>
<script src="js/plugins/kkpager.js"></script>
<script>
    $(function () {
       // var s = $('#cur').val();
        kkpager.generPageHtml({
            pno: 1,
            //总页码
            total: 100,
            //总数据条数
            totalRecords: 1000,
            //链接前部
            hrefFormer: '',
            //链接尾部
            hrefLatter: '',
            //链接算法
            getLink: function (n) {
                if (n == 1) {
                    return this.hrefFormer + this.hrefLatter;
                }
                return this.hrefFormer + n + this.hrefLatter;
            }

        });
    })
</script>



</body>
</html>